.nav1{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:150px;
    margin-left: 20px;


}
.link{
    display: grid;
    text-decoration: none;
    font-weight: bold;
    font-size:14px ;
    color: #282c3f;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}
.search{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:25px;
    margin-left: 25px;
}
.form{
    width: 250px;
}
.homegrid{
    display: grid;
    grid-template-rows: 400px 400px 400px;
    justify-content: space-around;
    gap: 10;
   
    margin-top: 5px;
}
.homegrid>div{
    width:100%;
  
   
   margin-top: 10px;
   
}